<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet ChiJin</title>

    <!-- web3.js -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        
        <div class="top-area">
            <div class="project-logo">
                <i class="fa-solid fa-umbrella-beach"></i> 
                <span> - ChiJin GG play, 旗津好好玩</span>
            </div> 

            <div class="eth-balance">
                <i class="fa-brands fa-ethereum"></i>
                <span>${{ balance}}</span>
            </div>

			<button
				class="net-btn"
			>
				{{ chainName }}

				<svg 
					fill="none" 
					height="7" 
					width="14" 
					xmlns="http://www.w3.org/2000/svg"
					class="toggle-arrow"
					@click="toggleSwiftList" 
				>
					<path 
						d="M12.75 1.54001L8.51647 5.0038C7.77974 5.60658 6.72026 5.60658 5.98352 5.0038L1.75 1.54001" 
						stroke="currentColor" 
						stroke-linecap="round" 
						stroke-linejoin="round" 
						stroke-width="2.5" 
						xmlns="http://www.w3.org/2000/svg">
					</path>
				</svg>

				<div 
					class="swift-box"
					v-if="toggleNetList"
				>
					<span>Switch Networks</span>

					<ul class="swift-list">
						<li 
							class="net-choice"
							:class="{ activeChoice: chainId== 1 }"
						>
							<i class="fa-brands fa-ethereum"></i>
							<span>Ethereum</span>
						</li>

						<li 
							class="net-choice"
							:class="{ activeChoice: chainId== 5 }"
						>
							<i class="fa-brands fa-ethereum"></i>
							<span>Goerli</span>
						</li>
					</ul>

				</div>
			</button>

            <button
                class="connect-btn"
                @click="connect"
            >
            	{{ connectStatus }}
            </button>
        </div>
        <div class="play-area">
            <button 
                class='mint-button'
                @click="mintCheck"
            >
                mint 鑄造
            </button>
        </div>
        <!-- 活動描述 -->
        <div class="game-description">
            <!-- <span>活動描述</span>
            <br> -->
            <p>推廣高雄旗津觀光旅遊，每人可以鑄造2次，可以獲得旗津知名地標的NFT。</p>
            <p>實地造訪你鑄造成功的NFT景點，打卡與拍照，我請你喝一杯在地新鮮果汁店的果汁。</p>
            <p>總發行量：100，已發行：{{ contractSupplyCounter }}</p>
            <h3>我要參加：</h3>
            <p>請連接小狐狸錢包，並使用Goerli測試網進行鑄造，成功後可至OpenSea測試網查詢你的NFT<a target="blank" href="https://testnets.opensea.io/zh-TW">OpenSea測試網路</a></p>
        </div>
        <div class="main-area">
            <div class="nft-showcase">
                <div
                    class="each-box"
                    v-for=" nft in nftList"
                >
                    <div
                        class="nft-photo"
                        :style="{ backgroundImage: 'url(' + nft.imgUrl + ')' }"
                    >
                    </div>
                    <div class="nft-content">
                        <span class="nft-title">
                            {{ nft.nftTitle}}
                        </span>
                        <p class="nft-description">
                            {{ nft.description}}
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer">
            <h5>contact: jared03050@gmail.com</h5>
        </div>
        <div 
            class="modal"
            :class="{ showModal: showModal }"
        >
            <div class="modal-title">
                <h4> {{modalMessage.title}} </h4>
                <span 
                    class="close-modal"
                    @click="showModal = false"
                >x
                </span>
            </div>
            <p class="modal-content"> {{modalMessage.content}}</p>
        </div>
        
    </div>
</body>

<script type="module">
	

    if(typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
    }else{
        web3 = new Web3(new window.ethereum.HttpProvider("http://localhost:5500"));``
    }


    var app = new Vue({
        el: '#app',

        data: {
				chainId:0,
				toggleNetList:false,
                ownerAddress: "0xfeeDDaD9C1311FA5dC5d35C99aB852154a314e80",
                contractAddress: "0x20C5AA627e50B97B9011e1692ADA950278fF5C2B",
                connectStatus:'connect wallet',
                isConnected: false,
                contractSupplyCounter: 0, //發行數量，至多100
                addressMintCounter:0, // twice for each person
                coinbase:'',
                balance:0,
                decimal: 10**18,
                myContract:{},
                showModal: false,
                modalMessage:{ title:'title', content:' minting .......please wait'} ,
				contractABI: [
	{
		"inputs": [
			{
				"internalType": "string",
				"name": "name_",
				"type": "string"
			},
			{
				"internalType": "string",
				"name": "symbo_",
				"type": "string"
			}
		],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "owner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "approved",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "Approval",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "owner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "operator",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "bool",
				"name": "approved",
				"type": "bool"
			}
		],
		"name": "ApprovalForAll",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "approve",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "burn",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "mint",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "operator",
				"type": "address"
			},
			{
				"internalType": "bool",
				"name": "approved",
				"type": "bool"
			}
		],
		"name": "setApprovalForAll",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "Transfer",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "from",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "to",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "transferFrom",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "owner",
				"type": "address"
			}
		],
		"name": "balanceOf",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "getApproved",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "getTokenURI",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "getTotalSupply",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "totalySupply",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "owner",
				"type": "address"
			},
			{
				"internalType": "address",
				"name": "operator",
				"type": "address"
			}
		],
		"name": "isApprovedForAll",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "name",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "ownerOf",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "bytes4",
				"name": "interfaceId",
				"type": "bytes4"
			}
		],
		"name": "supportsInterface",
		"outputs": [
			{
				"internalType": "bool",
				"name": "",
				"type": "bool"
			}
		],
		"stateMutability": "pure",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "symbo",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "uint256",
				"name": "tokenId",
				"type": "uint256"
			}
		],
		"name": "tokenURI",
		"outputs": [
			{
				"internalType": "string",
				"name": "",
				"type": "string"
			}
		],
		"stateMutability": "view",
		"type": "function"
	}
],
                nftList:[
                    {imgUrl:'./photos/0.jpeg', nftTitle:"旗津沙灘",description:''},
                    {imgUrl:'./photos/1.jpeg', nftTitle:"旗津老街",description:''},
                    {imgUrl:'./photos/2.jpeg', nftTitle:"沙灘夜景",description:''},
                    {imgUrl:'./photos/3.jpeg', nftTitle:"天后宮媽祖廟",description:''},
                    {imgUrl:'./photos/4.jpeg', nftTitle:"島嶼鳥瞰景",description:''},
                    {imgUrl:'./photos/5.jpeg', nftTitle:"沙灘酒吧",description:''},
                    {imgUrl:'./photos/6.jpeg', nftTitle:"旗津燈塔",description:''},
                    {imgUrl:'./photos/7.jpeg', nftTitle:"大貝殼",description:''},
                    {imgUrl:'./photos/8.jpeg', nftTitle:"彩虹教堂",description:''},
                    {imgUrl:'./photos/9.jpeg', nftTitle:"燈塔咖啡廳",description:''},
                ]
        },

		computed:{

			chainName(){

				if(this.chainId == 1){
					return "Ethereum";
				}

				if(this.chainId == 5){
					return "Goerli";
				}

				return "Wrong Net"
			},
		},

        methods: {
            connect: async function(){
                if (window.ethereum) {
                    await window.ethereum.request({ method: "eth_requestAccounts" });
                    window.web3 = new Web3(window.ethereum);
                    this.printUserInfo();
                } else {
                        alert("No wallet");
                        console.log("No wallet");
                    }
            },

            printUserInfo: async function(){

                // address
                let userAccount = await web3.eth.getCoinbase();
                this.coinbase = userAccount

                // 餘額
                this.balance = await web3.eth.getBalance(this.coinbase) / this.decimal;
                this.balance = this.balance.toFixed(3)

                // 地址短寫處理
                this.connectStatus = userAccount.slice(0, 5) + "..." + userAccount.slice(userAccount.length - 4, userAccount.length);

                // 取mint次數, 每人只可以mint兩次
                this.addressMintCounter = await this.myContract.methods.balanceOf(this.coinbase).call(); 
                this.isConnected = true;

            },

            getContract: async function(){
                // 取得合約
                this.myContract = new web3.eth.Contract(this.contractABI, this.contractAddress);

                // 取合nft的數量, 限制一百個
                this.contractSupplyCounter = await this.myContract.methods.getTotalSupply().call(); 

            },

            // 確認mint資格
            mintCheck: async function(){

                if(!this.isConnected){
                    this.showModal = true;
                    this.modalMessage.title = "失敗failed"
                    this.modalMessage.content = "請連結錢包/please connect wallet."
                    return;
                }

                // 每人2次, address owner不受限。
                if(this.isConnected && this.coinbase.toUpperCase() != this.ownerAddress.toUpperCase() && this.addressMintCounter>=2){
                    this.showModal = true;
                    this.modalMessage.title = "失敗failed"
                    this.modalMessage.content = "每人可鑄造兩次/ Mint twice for each person only."
                    return;
                }

                this.mint();

            },

            mint: async function(){

                this.modalMessage.title = "鑄造中mint..."
                this.modalMessage.content = "請稍候... please wait..."
                this.showModal = true;

                setTimeout(()=>{
                    this.showModal = false;
                }, 15000)

                this.myContract.methods.mint().send({from: this.coinbase, value:"0"}).then(async(receipt)=>{
                    // 回傳挖礦成功資料
                    console.log('receipt', receipt);

                    this.showModal = true;
                    this.modalMessage.title = "成功/success"
                    this.modalMessage.content = "請前往 OpenSea測試網查看NFT, please check NFT in OpenSea"

                    // 更新nft數量, 更新user資料
                    this.printUserInfo();
                    this.getContract();
                })
                

            },

			// 切net
			switchNet: async function(targetId){

				// const targetChainId = 1;
				if (window.ethereum) {
					try {
							await window.ethereum.request({
								method: 'wallet_switchEthereumChain',
								params: [{ chainId: Web3.utils.toHex(targetId) }],
							});
						}
					catch(err){
						console.log(err,'err')
					}
			}},

			// get chain Id
			getChainId: async function(){
				web3.eth.net.getId().then((id)=>{
						this.chainId = id;
				})
			},

			toggleSwiftList(){
				this.toggleNetList = !this.toggleNetList;
			},
		},

        created(){

            // 取錢包
            web3.eth.getCoinbase().then((result)=>{
                if(result){
                    this.printUserInfo();
                }
            });

            // 取得合約
            this.getContract();

			this.getChainId();
        }
    
    })
    

</script>
</html>