

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

.top-area{
    display: flex;
    padding:0 35px;
    align-items: center;
    width: 100%;
    height: 60px;
    border: 1px solid rgb(240, 240, 240);
    background-color: #fff;
}

.project-logo{
    margin-right: auto;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.fa-solid{
    font-size: 25px;
    color: #2064ea;
}

.eth-balance{
    font-size: 20px;
    padding: 0 50px;
}

.net-btn{
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0px #121212;
    background-color: #2064ea;
    color: rgb(232, 232, 232);
    font-size: 20px;
    /* cursor: pointer; */
    margin: 0 10px;
}

.toggle-arrow{
    cursor: pointer;
}

.toggle-arrow:hover{
    color: #121212;
}

.swift-box{
    position: absolute;
    width: 500px;
    height: 120px;
    padding: 5px 0;
    top: 108%;
    left: 0;
    border-radius: 5px;
    border: 1px solid #121212;
    color: #121212;
    font-size: 1rem;
    /* background-color: rgb(141, 141, 141); */
}

.swift-list{
    text-align: left;
    margin: 5px 0 0 0 ;
    padding: 0;
    list-style: none;
}

.net-choice{
    padding: 7px 10px;
    margin: 5px 0;
    /* background-color: #869fd1 */
}

.net-choice:hover{
    /* color:rgb(200, 200, 200); */
    background-color:rgb(200, 200, 200);
    cursor: pointer;
}

.connect-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 5px 0px #121212;
    background-color: #2064ea;
    color: rgb(232, 232, 232);
    font-size: 20px;
    cursor: pointer;
}

.activeChoice{
    background-color: #869fd1
}

.main-area{
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    background: linear-gradient(rgba(50, 45, 189, 0.2), rgb(167, 85, 85), rgba(0, 0, 0, 0.5));
}

.play-area{
    height: 60px;
    padding: 10px 30px;
}
.game-description{
    padding: 10px 30px;
    /* background: rgba(11, 11, 11, 0.7); */
    color: #121212;
}

.mint-button{
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 5px 0px #121212;
    background-color: #229969;
    color: rgb(232, 232, 232);
    font-size: 15px;
    cursor: pointer;
}
.mint-button:hover{
    background-color: #1c553f;
    /* color: rgb(232, 232, 232); */
    box-shadow: 0 2px 5px 0px #121212;
}

.nft-showcase{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}

.each-box{
    display: flex;
    width: 33.3%;
    height: 150px;
    margin-bottom: 10px;
}

.nft-photo{
    flex:1;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s;
}


.nft-photo:hover{
    transform: scale(1.15);
}

.nft-content{
    flex: 2;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
}


.nft-title{
    font-weight: bold;
    font-size: 16px;
    color: #1f30e3;
}

.nft-description{
    color: rgb(240, 240, 240)
}

.footer{
    padding: 30px;
}

.modal{
    width: 500px;
    height: 150px;
    border: 2px solid rgb(179, 179, 179);
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left:30%;
    top: -200%;
    transition: all 0.6s;
}

.showModal{
    top: 10%;
}

.modal-title{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid grey; */
    padding: 5px;
}

.close-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    /* border: 1px solid rgb(0, 0, 0); */
    border-radius: 100px;

    font-size: 1rem;
    cursor: pointer;
}

.modal-content{
    padding: 5px;
}

.close-modal:hover{
    color: rgb(255, 255, 255);
    background-color: red;
}